@use "variables";

.header {
  height: 45px;
  width: 100%;
  position: fixed;
  z-index: 1;

  &__container {
    @include variables.flex;
    height: 45px;
    margin: 0 45px;

    .logo__link {
      @include variables.flex;
      height: 100%;
      min-width: 45px;
    }

    .logo__img {
      height: 20px;
    }
  }
}