@use "variables";
// MEDIA QUERIES MAX-WIDTHS
// 2030 PX
// 1680 PX
// 1260 PX
// 960 PX
// 680 PX
// 550 PX

.polaroids {
  .wrapper {
    padding: 48px 36px;

    @media (max-width: 1680px) {
      padding: 40px 36px;
    }

    @media (max-width: 1260px) {
      padding: 32px 16px;
    }

    @media (max-width: 960px) {
      padding: 24px;
    }

    @media (max-width: 550px) {
      padding: 16px;
    }
  }

  &--wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 12px;

    @media (max-width: 2030px) {
      margin-top: 0;
    }

    @media (max-width: 550px) {
      display: block;
      // padding: 0 8px;
    }
  }
}

.polaroid {
  width: calc((100% - 192px) / 6);
  background-color: var(--white);
  box-shadow: 0 2px 10px rgb(0 0 0 / 30%);
  padding: 16px;
  margin: 24px 16px;

  @media (max-width: 2030px) {
    width: calc((100% - 128px) / 4);
    margin: 20px 16px;
  }

  @media (max-width: 1680px) {
    width: calc((100% - 112px) / 4);
    margin: 14px;
    padding: 12px;
  }

  @media (max-width: 1260px) {
    width: calc((100% - 96px) / 4);
    margin: 12px;
  }

  @media (max-width: 960px) {
    width: calc((100% - 72px) / 3);
    margin: 12px;
  }

  @media (max-width: 680px) {
    width: calc((100% - 48px) / 2);
  }

  @media (max-width: 550px) {
    width: 80%;
    margin: 8px auto 16px;
  }

  &__img {
    margin-bottom: 16px;

    @media (max-width: 1260px) {
      margin-bottom: 12px;
    }

    img {
      width: 100%;
    }
  }

  &__text {
    color: var(--black);
    text-transform: lowercase;
    letter-spacing: .2px;
    line-height: 1.25;
    font-size: 2rem;
    
    @media (max-width: 1680px) {
      font-size: 1.6rem;
    }

    @media (max-width: 550px) {
      font-size: 1.4rem;
    }
  }
}