@font-face {
  font-family: 'BP-Victoria-Regular';
  src: url('../fonts/BP-Victoria-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'BP-Victoria-Bold-Regular';
  src: url('../fonts/BP-Victoria-Bold-Regular.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'MrsEavesSmallCaps';
  src: url('../fonts/MrsEavesSmallCaps.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MrsEavesSmartLigRoman';
  src: url('../fonts/MrsEavesSmartLigRoman.ttf');
  font-weight: 400;
  font-style: normal;
}

:root {
  // COLOURS
  --black: #464646;
  --grey: #A1A59B;
  --white: #F5F5F5;
  --green: #8ca065;
  --ltgreen: #a3b07e;
  --dkgreen: #7c8d62;
  --purple: rgb(143, 113, 155);


  // FONTS
  --serifFont: 'MrsEavesSmallCaps', serif;
  --scriptFont: 'BP-Victoria-Regular', sans-serif;
  --boldScript: 'BP-Victoria-Bold-Regular', sans-serif;
  --italicFont: 'MrsEavesSmartLigRoman', serif;
}
